
h1{                                     /* start the first H1 of  */
    margin: 1px solid black ;
    font-size: 50px;
    text-align: center;
    font-family: 'Lucida Sans';
    font-style: oblique;
    color:tomato;
    background-color: greenyellow;
    margin: 10px 500px;
    border-radius: 50px;
   
}
/*p{
    
    border: 5px solid yellow;
    border-radius: 20px;
    margin: 50px;
    padding: 20px;
    text-align: center;
    color:teal;
    background-color:wheat;
    font-size: 25px;
}*/

.col-sm-5{
    margin-left: 65px;
    margin-top: 20px;
    border: 2px solid ghostwhite;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
}

.h2-dec{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    color: tan;
}
.stylish-p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}
#mydiv{
  background-color:yellow;
  width:200px;
  height:100px;
  box-shadow: 10px 10px 10px 50px gray;
  margin-bottom: 20px;
  margin-left: 550px;
  margin-top: 20px;
  

}
/*.nav01{
  height: 55px;
  margin: 2%;
  width: 100%;
  border: 1px solid gray; 
  background-color:rgba(122, 115, 115, 0.329);
  border-radius: 2px;
  
}*/
.left-float{
    float: right;
    margin-top: 12px;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   
}
li{
    display: inline;
    font-size: 20px;
    padding: 10px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}

    
